header {
	width: 100%;
	height: 100px;
	background-color: gold;
	z-index: 2;
    position: relative;
}

header .container {
	position: flex;
}

header #logotipo {
	position: absolute;
    width: 100px;
    height: 100px;
	z-index: 3;
    left: 20px;
}
.body{
    background: url("img/gramado.jpg") ;
    display: flow ;  
}

#menu {
	margin: 12px 0;
}
#menu li {
	display: inline-block;
}
#menu li.search {
	width: 300px;
}

#menu li.search input {
	background-color: #fff;
	border: none;
	height: 25px;
    width: 300px;
    position: absolute;
    left: 100px;
    font-size: 15px;
}

#menu li.search ::-webkit-input-placeholder {
	color: gray;
    font-size: 15px;
}
#menu li.search button {
    background: none;
    border: none;
    height: 25px;
    width: 27px;
	position: absolute;
    left: 375px;
}
#menu li.search button i {
	font-size: 16px;
	color: gray;
}
#menu li a {
	color: darkblue;
	font-size: 16px;
	padding: 20px 10px;
}
#menu #opcoes{
    right:20px;
    top: 5px;
    position: absolute;
}

#menu li.search .input-group {
	top: 40px;
}

.item-menu{
    color: rgb(5, 5, 82);
   font-size: 25px;
   left: 150px; 
   border: 1px;
   position: absolute;
}

#menu  #numero {
	font-size: 15px;
	padding: 10px 20px;
    position: absolute;
    right: 85px;
    top:50px;
}

#menu  #carrinho {
    position: absolute;
    right:10px;
    top:38px;
    cursor: pointer;
}

.d-block {
    height: 460px;
    width: 200px; 
}

.filters-group{
    background-color: gainsboro;
    width: 200px;
    height: 300px;
    border: 2x solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    border-color: black;
    position: absolute;
    top: 200px;
    left: 30px;
    box-shadow: black;
}

.filtros{
    display: flow;
    padding: 20px 10px ;
    width: 100px;
    height: 200px;
    position: absolute;
    top:80px;
    left:30px;
}

.carousel{
    display: flex;
    width: 1000px;

    position: static;
    left:160px;

}

.container1{
    display: flex;
    background-color: lightsteelblue;
    
}

.vendas{
    display: flow;
}
.linha1{
    display:flex;
}
.produto1{
    display: inline;
    width: 300px;
    height: 350px;
    background-color: gray;
    border:6px solid white;
}
.produto2{
    display: flex;
    width: 300px;
    height: 350px;
    background-color:gray;
    border:6px solid white;
}
.produto3{
    display: flex;
    width: 300px;
    height: 350px;
    background-color: gray;
    border:6px solid white;
}

.linha2{
    display: flex;
}
.produto4{
    display:flex;
    left:0px;
    width: 300px;
    height: 350px;
    background-color: gray;
    border:6px solid white;
}
.produto5{
    display:flex;
    left:0px;
    width: 300px;
    height: 350px;
    background-color: gray;
    border:6px solid white;
}
.produto6{
    display:flex;
    left:0px;
    width: 300px;
    height: 350px;
    background-color: gray;
    border:6px solid white;
}
.linha3{
    display: flex;
}
.produto7{
    display:flex;
    left:0px;
    width: 300px;
    height: 350px;
    background-color: gray;
    border:6px solid white;
}
.produto8{
    display:flex;
    left:0px;
    width: 300px;
    height: 350px;
    background-color: gray;
    border:6px solid white;
}
.produto9{
    display:flex;
    left:0px;
    width: 300px;
    height: 350px;
    background-color: gray;
    border:6px solid white;
}
*{
    margin: 0;
    padding: 0;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
    
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}



.footer{
    display: flex;
}
.favoritos{
    
    display:inline;
    width: 550px;
    height: 800px;
    background-color: gray;
    border: 2x solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    border-color: black;
    position:absolute;
    right: 15px;
    top: 600px;    
    
}

