
.container{
    display: flex;
    background-color:;
}
.item-menu{
    
   border: 1px;
   
}   
.d-block {
    height: 460px;
    width: 200px;
   
}
body{
    display: flow ;
    background-color: cadetblue;
}
.container1{
    display: flow;
    
}
.filtros{
    display: flow;
    width: 70px;
    height: 40px;
}
.carousel{
    display: flow;
    width: 1050px;
    height: 300pxS;
}


